@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.first-element {
  order: 0;
}

.second-element {
  order: 1;
}

.container-content {
  padding: 0 70px;
}

/* header */

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 500px;
  list-style-type: none;
}

.navigation-user {
  max-width: 306px;
  min-width: 264px;
  margin-left: auto;
  justify-content: end;
}

.navigation-item {
  margin: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

/* main */

.main-container {
  flex-grow: 1;
}

.index-background-image {
  background-color: #756257;
  background-image: url(../images/svg/background-divider.svg),
                    url(../images/index-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: bottom, top;
  text-align: center;
}

/* advantages */

.advantages-title-wrapper {
  margin: 0 auto;
  padding: 63px 240px 80px;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages-size {
  width: 400px;
  padding-left: 75px;
  padding-right: 75px;
  box-sizing: border-box;
}

.advantages-title {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.title-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-title-primary {
  color: #ffffff;
}

.advantages-item {
  background-color: #83B3D3;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
}

.subparagraph-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-wrapper:nth-child(n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper:nth-child(2n+4) {
  background-color: #e6f0f6;
}

.advantages-subparagraph {
  position: relative;
}

.advantages-subparagraph:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.subparagraph-description {
  color: #333333;
}

/* main-search */

.main-search {
  width: 100%;
  padding: 90px 240px;
  text-align: center;
  box-sizing: border-box;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

/* index-subscription */

.index-subscription {
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  background-image: url(../images/subscription-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 200px;
  box-sizing: border-box;
}

.subcription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.button-subscription {
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

.subscription-email-input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  background-color: #ffffff;
}

.button-twitter {
  height: 15px;
  width: 18px;
  background-image: url(../images/svg/social-twitter.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
}

.button-facebook {
  height: 18px;
  width: 10px;
  background-image: url(../images/svg/social-facebook.svg);
  background-repeat: no-repeat;
  background-size: 10px 18px;
}

.button-youtube {
  height: 16px;
  width: 20px;
  background-image: url(../images/svg/social-youtube.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo-html-wrapper {
  width: 150px;
}

/* header-catalog */

.header-search-hotel {
  background-color: #756257;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.inner-header {
  color: #ffffff;
  line-height: 23px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.search-hotel {
  color: #ffffff;
  line-height: 23px;
}

.hotel-filter {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.button-apply {
  line-height: 21px;
  background-color: #83B3D3;
}

.button-reset {
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
  background: none;
}

/* searching-results */

.searching-results {
  display: flex;
  justify-content: space-between;
}

.searching-results p {
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

/* product */

/* .product-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.product-card {
  font-size: 18px;
  line-height: 23px;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.button-more {
  line-height: 21px;
}

.button-favorites {
  line-height: 21px;
  background-color: #82B3D3;
}

.button-is-favorite {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

/* pagination */

.wrapper-pagination-show-more {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
}

.pagination-filter {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #83B3D3;
  padding: 15px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.filter-number {
  line-height: 23px;
}

/* inner-subscription */

.inner-subscription {
  width: 100%;
  padding: 70px 200px 140px;
  text-align: center;
  box-sizing: border-box;
}

.subcription-title-inner {
  color: #000000;
}

