@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-element {
  order: 0;
}

.second-element {
  order: 1;
}

.container-content {
  padding: 0 70px;
}

/* header */

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
}

.page-header-logo {
  display: block;
  position: relative;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 500px;
  list-style-type: none;
}

.navigation-user {
  max-width: 306px;
  min-width: 264px;
  margin-left: auto;
  justify-content: end;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.navigation-user .navigation-link {
  min-height: 18px;
  min-width: 18px;
}
.navigation-item-button .button {
  display: block;
  border-radius: 4px;
  width: 130px;
  padding: 9px 15px 8px;
}

/* main */

.main-container {
  flex-grow: 1;
}

.index-background-image {
  background-color: #756257;
  background-image: url(../images/svg/background-divider.svg),
                    url(../images/index-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: bottom, top;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
}

/* advantages */

.advantages-title-wrapper {
  margin: 0 auto;
  padding: 63px 240px 80px;
}

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages-size {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 98px 75px 79px 75px;
}

.advantages-title {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.title-description {
  display: block;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-number{
  display: block;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
}

.advantages-item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-title-primary {
  color: #ffffff;
}

.advantages-item {
  background-color: #83B3D3;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
}

.subparagraph-subtitle {
  display: block;
  margin-top: 23px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-wrapper:nth-child(n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper:nth-child(2n+4) {
  background-color: #e6f0f6;
}

.advantages-subparagraph:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.subparagraph-description {
  margin: 0;
  color: #333333;
}

.advantages-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* main-search */

.main-search {
  width: 100%;
  padding: 90px 240px;
  text-align: center;
  box-sizing: border-box;
}

.search-title {
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  display: block;
  box-sizing: border-box;
  width: 575px;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

/* index and inner subscription */

.inner-subscription {
  width: 100%;
  padding: 70px 200px 140px;
  text-align: center;
  box-sizing: border-box;
}

.index-subscription {
  color: #ffffff;
  background-color: #756257;
  background-image: url(../images/subscription-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 94px 200px;
}

.subcription-title {
  margin: 0;
  margin-bottom: 46px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subsription-title-index {
  margin-bottom: 30px;
  color: inherit;
}

.subscription-description {
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.subscription-email {
  display: flex;
}

.subscription-email-input {
  flex-grow: 1;
  border-radius: 10px 0 0 10px;
  padding-top: 17px;
  padding-right: 19px;
  padding-bottom: 17px;
  padding-left: 22px;
  background-color: #F2F2F2;
  border: none;
}

.subscription-email-input-index {
  background-color: #ffffff;
}

.button-subscription {
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 18px 34px 16px;
  background-color: #83B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

.subscription-email-input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin: 0;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


/* .button-twitter {
  display: block;
  box-sizing: border-box;
  height: 15px;
  width: 18px;
  background-image: url(../images/svg/social-twitter.svg);
  background-repeat: no-repeat;
  padding: 15px;
  background-position: center;

}

.button-facebook {
  display: block;
  box-sizing: border-box;
  height: 18px;
  width: 10px;
  background-image: url(../images/svg/social-facebook.svg);
  background-repeat: no-repeat;
  padding: 15px;
  background-position: center;
}

.button-youtube {
  display: block;
  box-sizing: border-box;
  height: 16px;
  width: 20px;
  background-image: url(../images/svg/social-youtube.svg);
  background-repeat: no-repeat;
  padding: 15px;
  background-position: center;
} */

.phone-link {
  max-width: 720px;
  min-height: 50px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.logo-html-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

.html-link {
  display: block;
  box-sizing: border-box;
}

.logo-html {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

/* header-catalog */

.header-search-hotel {
  padding: 35px 72px 83px;
  background-color: #756257;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 44px;
}

.inner-header {
  color: #ffffff;
  line-height: 23px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.breadcrumbs-link-home {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.breadcrumbs-item-home::after {
  display: block;
  width: 5px;
  height: 8px;
  margin-right: 10px;
}

.search-hotel {
  color: #ffffff;
  line-height: 23px;
}

.hotel-filter {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

.hotel-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-title-price {
  margin-bottom: 34px;
}

.hotel-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  margin: 0;
  margin-right: 19px;
}

.search-hotel-button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-apply {
  padding: 14px 35px;
  border: none;
  border-radius: 4px;
  line-height: 21px;
  background-color: #83B3D3;
  margin-bottom: 20px;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
  background: none;
  padding: 0;
  border: none;
}

/* searching-results */

.searching-results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.searching-results-description {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 20px 12px 19px;
  background-color: transparent;
}

.select-control-number {
  width: 160px;
  padding-left: 17px;
}

.type-card {
  display: flex;
}

.type-card a {
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  width: 48px;
  right: 48px;
  box-sizing: border-box;
}

.type-card a:not(:last-child) {
  margin-right: 8px;
}

/* product */

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  font-size: 18px;
  line-height: 23px;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.buttons-product-card {
  display: flex;
  justify-content: center;
  padding-top: 9px;
  padding-right: 0;
  padding-bottom: 7px;
  padding-left: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-more {
  line-height: 21px;
  width: 133px;
}

.button-favorites {
  line-height: 21px;
  background-color: #82B3D3;
  width: 140px;
  border: none;
}

.button-is-favorite {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #F2F2F2;
  width: 160px;
}

/* pagination */

.wrapper-pagination-show-more {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.pagination-show-more {
  display: flex;
  justify-content: center;
  width: 620px;
  padding: 0;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  border-radius: 4px;
}

.pagination-filter {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #83B3D3;
  min-width: 55px;
  height: 55px;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.filter-number {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 23px;
}

.filter-number span {
  margin-right: 50px;
}




